@{
    ViewBag.Title = "Index";
}
<div class="sidebar-wrapper">
    <div class="margin">
        <h1 style="font-size: 26px; font-weight: 600;">Andreas Pettersson</h1>
    </div>
    <div class="margin">
        <ul>
            <li>cube.adde@gmail.com</li>
            <li>073-7389144</li>
            <li><a href="https://se.linkedin.com/in/andreas-pettersson-998427b4" target="_blank">linkedin.com/in/Andreas</a></li>
        <li><a href="https://github.com/addepettersson" target="_blank">github.com/addepettersson</a></li>
        </ul>
    </div>
    <div class="margin">
        <h2 class="title-sidewrapper">Utbildning</h2>
        <div>
            <h4>Microsoft .NET Developer – Cloud Computing</h4>
            <h5>Hermods Ec-utbildning</h5>
            <div>2014 - 2016</div>
        </div>
        <div>
            <h4>El och Energi</h4>
            <h5>Wijkmanska</h5>
            <div>2009 - 2012</div>
        </div>
    </div>
    <div class="margin">
        <h2 class="title-sidewrapper">Språk</h2>
        <ul>
            <li>Svenska</li>
            <li>Engelska </li>
        </ul>
    </div>
    <div class="margin">
        <h2 class="title-sidewrapper">Intressen</h2>
        <ul>
            <li>Familj</li>
            <li>Nya tekniker</li>
            <li>Vänner</li>
            <li>Cykla</li>
            <li>Meka bilar</li>
        </ul>
    </div>
    <div class="margin">
        <h2 class="title-sidewrapper">Referenser</h2>
        <div>
            Skickas vid begäran.
        </div>
    </div>
</div>
<div class="main-wrapper">
    <section>
        <div>
            <h2 class="title">Om mig</h2>
            <div>
                Jag heter Andreas Pettersson och har tagit examen från programmet Microsoft .NET developer - cloud computing på EC-utbildning i Örebro.
                <br />
                Jag är en lugn och social person som gillar att utvecklas och är ansvarsfull av mig. Jag jobbar bra i grupp likväl som självständigt.
            </div>
        </div>
    </section>
    <section>
        <div>
            <h2 class="title">Erfarenheter & Praktiker</h2>
            <div>
                <h3>Semcon AB</h3>
                <h4>2016-01 - 2016-04</h4>
                <div>
                    <span>
                        Praktik och examensarbete inriktning systemutveckling.
                        <br />
                        Automatiserat lagerhållningen hos ett industriföretag.
                    </span>
                </div>
            </div>
            <div>
                <h3>Semcon AB</h3>
                <h4>2015-04 - 2015-06</h4>
                <div>
                    <span>
                        Praktik inriktning systemutveckling.
                    </span>
                </div>
            </div>
            <div>
                <h3>Bombardier Transportation via Manpower</h3>
                <h4>2012-08 - 2014-09</h4>
                <div>
                    <span>Byggde styrsystemslådor till tåg.</span>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div>
            <h2 class="title">Kompetenser</h2>
            <ul>
                <li>
                    C#
                </li>
                <li>
                    ASP .NET
                </li>
                <li>
                    Entity framework
                </li>
                <li>
                    SQL Server
                </li>
                <li>
                    WPF
                </li>
                <li>
                    JavaScript
                </li>
                <li>
                    Web API
                </li>
                <li>
                    Microsoft Azure
                </li>
            </ul>
        </div>
    </section>
</div>
<footer class="text-center">
    &copy; Andreas Pettersson
</footer>
